.gg-menu-round {
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border-radius: 24px;
    border: 2px solid;
}

#menu-box {
    display: inline-block;
    vertical-align: middle;
}
.gg-menu-round::before {
    content: "";
   display: inline-block;
   box-sizing: border-box;
   position: absolute;
   width: 10px;
   height: 2px;
   background: currentColor;
   border-radius: 3px;
   top: 4px;
   left: 4px;
   box-shadow: 0 4px 0, 0 8px 0
}


.gg-close-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 40px
}
.gg-close-o::after,
.gg-close-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px
}
.gg-close-o::after {
    transform: rotate(-45deg)
}


.gg-arrow-left-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 22px
}
.gg-arrow-left-o::after,
.gg-arrow-left-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 4px
}
.gg-arrow-left-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 6px
}
.gg-arrow-left-o::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: currentColor
}